.search-header{
    height: 2.5rem;
    background: linear-gradient(rgba(1,1,1,0.2) 0%, rgba(255,255,255,0) 100%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
}
.search-header.red-bg{
    background: linear-gradient(rgba(235,22,37) 0%, rgba(255,255,255,0) 100%);
}
.search-header input{
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    height: 24px;
    width: calc(100% - 60px);
    color: white;
}
.search-icon{
    width: 20px;
    height: 18px;
    display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAYAAABgrToAAAAAAXNSR0IArs4c6QAAAHlJREFUWAnt2LEJwDAMRFE5c2ShLOKhsp69h3ISeAI1CnyBiJvA8dwcHu7+mNmrvbWdZivMHAq4dOgW7kDt65y6fiPg1AZnt8kr7haKPAgggAACfxOIskCbKdwabaaAlw0rmhaDAAIIIIBAQYA2U8CLX2kzFcB8m/kAgGUmQShl8pcAAAAASUVORK5CYII=) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 6px;
    left: 6px;
}

.banner{
    width: 100%;
    height: 9.1rem;
    background-color: red;
    position: relative;
    overflow: hidden;
}

.banner img{
    width: 100%;
    height: 100%;
}